body
{
   background-color: #FFFFFF;
   background-image: url(https://testfor1221.000webhostapp.com/images/landing-background.png);
   background-attachment: fixed;
   background-position: left center;
   background-repeat: repeat-x;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
}
#Button2
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1
{
   position: absolute;
   left: 307px;
   top: 255px;
   width: 497px;
   height: 35px;
   z-index: 0;
}
#wb_Text2
{
   position: absolute;
   left: 307px;
   top: 278px;
   width: 3px;
   height: 32px;
   z-index: 1;
}
#wb_Image1
{
   position: absolute;
   left: 415px;
   top: 94px;
   width: 4px;
   height: 1px;
   z-index: 3;
}
#wb_Text3
{
   position: absolute;
   left: 415px;
   top: 416px;
   width: 264px;
   height: 33px;
   z-index: 2;
}
#wb_Image2
{
   position: absolute;
   left: 428px;
   top: 119px;
   width: 213px;
   height: 48px;
   z-index: 6;
}
#Button1
{
   position: absolute;
   left: 177px;
   top: 552px;
   width: 200px;
   height: 45px;
   z-index: 4;
}
#Button2
{
   position: absolute;
   left: 663px;
   top: 552px;
   width: 200px;
   height: 45px;
   z-index: 5;
}
@media only screen and (min-width: 320px) and (max-width: 969px) and (orientation: portrait)
{
body
{
   background-color: #FFFFFF;
   background-image: url(https://testfor1221.000webhostapp.com/images/landing-background.png);
   background-attachment: fixed;
   background-position: left center;
   background-repeat: repeat-x;
}
#wb_Text1
{
   left: 307px;
   top: 255px;
   width: 497px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 307px;
   top: 278px;
   width: 3px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 415px;
   top: 416px;
   width: 264px;
   height: 60px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 415px;
   top: 94px;
   width: 4px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 177px;
   top: 552px;
   width: 200px;
   height: 45px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#Button2
{
   left: 663px;
   top: 552px;
   width: 200px;
   height: 45px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Image2
{
   left: 428px;
   top: 119px;
   width: 213px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 320px) and (max-width: 319px) and (orientation: landscape)
{
body
{
   background-color: #FFFFFF;
   background-image: url(images/cap.PNG);
   background-attachment: fixed;
   background-position: left center;
   background-repeat: repeat-x;
}
#wb_Text1
{
   left: 307px;
   top: 255px;
   width: 497px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 307px;
   top: 278px;
   width: 3px;
   height: 32px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 415px;
   top: 416px;
   width: 264px;
   height: 60px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 415px;
   top: 94px;
   width: 4px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 177px;
   top: 552px;
   width: 200px;
   height: 45px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#Button2
{
   left: 663px;
   top: 552px;
   width: 200px;
   height: 45px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Image2
{
   left: 428px;
   top: 119px;
   width: 213px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 320px) and (max-width: 319px)
{
body
{
   background-color: #FFFFFF;
   background-image: url(images/cap.PNG);
   background-attachment: fixed;
   background-position: left center;
   background-repeat: repeat-x;
}
#wb_Text1
{
   left: 307px;
   top: 255px;
   width: 497px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 307px;
   top: 278px;
   width: 3px;
   height: 1px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 415px;
   top: 416px;
   width: 264px;
   height: 60px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 415px;
   top: 94px;
   width: 4px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 177px;
   top: 552px;
   width: 200px;
   height: 45px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#Button2
{
   left: 663px;
   top: 552px;
   width: 200px;
   height: 45px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Image2
{
   left: 428px;
   top: 119px;
   width: 213px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 319px)
{
body
{
   background-color: #FFFFFF;
   background-image: url(images/cap.PNG);
   background-attachment: fixed;
   background-position: left center;
   background-repeat: repeat-x;
}
#wb_Text1
{
   left: 307px;
   top: 255px;
   width: 497px;
   height: 64px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 307px;
   top: 278px;
   width: 3px;
   height: 1px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 415px;
   top: 416px;
   width: 264px;
   height: 60px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 415px;
   top: 94px;
   width: 4px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 177px;
   top: 552px;
   width: 200px;
   height: 45px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#Button2
{
   left: 663px;
   top: 552px;
   width: 200px;
   height: 45px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#wb_Image2
{
   left: 428px;
   top: 119px;
   width: 213px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
